<div
  [class]="wrapperClasses"
  [attr.data-size]="size()"
  [attr.data-invalid]="isInvalid()"
>
  <input
    #inputRef
    ngpInput
    [class]="inputClasses"
    [ngClass]="dynamicClasses()"
    [type]="computedType()"
    [attr.id]="id()"
    [name]="name()"
    [(ngModel)]="value"
    [placeholder]="placeholder()"
    [disabled]="props().disabled"
    [readOnly]="props().readonly"
    [autocomplete]="autocomplete()"
    [autocapitalize]="autocapitalize()"
    (focus)="handleFocus($event)"
    (blur)="handleBlur($event)"
    [attr.maxlength]="maxlength()"
    [attr.aria-invalid]="isInvalid()"
    [attr.aria-describedby]="id() + '-error'"
  />

  <span [class]="trailingSpanClasses">
    <button
      type="button"
      class="flex items-center justify-center leading-0 transition-all duration-150 cursor-pointer text-main-primary-500 hover:text-main-primary-600 focus-visible:ring-2 focus-visible:ring-main-primary-500 focus-visible:ring-offset-1 outline-none rounded"
      (click)="toggleVisibility()"
      [attr.aria-label]="isVisible() ? 'Hide password' : 'Show password'"
    >
      <liv-icon
        [size]="size() === 'sm' ? '16' : '20'"
        [name]="isVisible() ? 'lucideEyeClosed' : 'lucideEye'"
      />
    </button>
  </span>
</div>
