@import 'tailwindcss';

@theme {
  --color-neutral-hight-pure: var(--color-neutral-hight-pure);
  --color-neutral-hight-light: var(--color-neutral-hight-light);
  --color-neutral-hight-medium: var(--color-neutral-hight-medium);
  --color-neutral-hight-dark: var(--color-neutral-hight-dark);
  --color-neutral-low-pure: var(--color-neutral-low-pure);
  --color-neutral-low-light: var(--color-neutral-low-light);
  --color-neutral-low-medium: var(--color-neutral-low-medium);
  --color-neutral-low-dark: var(--color-neutral-low-dark);
  --color-brand-primary-pure: var(--color-brand-primary-pure);
  --color-brand-primary-lightest: var(--color-brand-primary-lightest);
  --color-brand-primary-lighter: var(--color-brand-primary-lighter);
  --color-brand-primary-light: var(--color-brand-primary-light);
  --color-brand-primary-dark: var(--color-brand-primary-dark);
  --color-brand-secondary-pure: var(--color-brand-secondary-pure);
  --color-brand-secondary-lightest: var(--color-brand-secondary-lightest);
  --color-brand-secondary-lighter: var(--color-brand-secondary-lighter);
  --color-brand-secondary-light: var(--color-brand-secondary-light);
  --color-brand-secondary-dark: var(--color-brand-secondary-dark);
  --color-brand-tertiary-pure: var(--color-brand-tertiary-pure);
  --color-brand-tertiary-lightest: var(--color-brand-tertiary-lightest);
  --color-brand-tertiary-lighter: var(--color-brand-tertiary-lighter);
  --color-brand-tertiary-light: var(--color-brand-tertiary-light);
  --color-brand-tertiary-pure-dark: var(--color-brand-tertiary-pure-dark);
  --color-brand-quaternary-pure: var(--color-brand-quaternary-pure);
  --color-brand-quaternary-lightest: var(--color-brand-quaternary-lightest);
  --color-brand-quaternary-lighter: var(--color-brand-quaternary-lighter);
  --color-brand-quaternary-light: var(--color-brand-quaternary-light);
  --color-brand-quaternary-dark: var(--color-brand-quaternary-dark);
  --color-brand-quintenary-pure: var(--color-brand-quintenary-pure);
  --color-brand-quintenary-lightest: var(--color-brand-quintenary-lightest);
  --color-brand-quintenary-lighter: var(--color-brand-quintenary-lighter);
  --color-brand-quintenary-light: var(--color-brand-quintenary-light);
  --color-brand-quintenary-pure-dark: var(--color-brand-quintenary-pure-dark);
  --color-brand-sextenary-pure: var(--color-brand-sextenary-pure);
  --color-brand-sextenary-lightest: var(--color-brand-sextenary-lightest);
  --color-brand-sextenary-lighter: var(--color-brand-sextenary-lighter);
  --color-brand-sextenary-light: var(--color-brand-sextenary-light);
  --color-brand-sextenary-dark: var(--color-brand-sextenary-dark);
  --color-feedback-warning-pure: var(--color-feedback-warning-pure);
  --color-feedback-warning-light: var(--color-feedback-warning-light);
  --color-feedback-warning-medium: var(--color-feedback-warning-medium);
  --color-feedback-helper-pure: var(--color-feedback-helper-pure);
  --color-feedback-helper-light: var(--color-feedback-helper-light);
  --color-feedback-helper-medium: var(--color-feedback-helper-medium);
  --color-feedback-success-pure: var(--color-feedback-success-pure);
  --color-feedback-success-light: var(--color-feedback-success-light);
  --color-feedback-success-medium: var(--color-feedback-success-medium);
}
